body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.topmenu{
    overflow: hidden;
    background-color: #333;
}

.topmenu li{
    float: left;
}

.topmenu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.topmenu a {
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
    padding: 8px;
    background-color: #dddddd;
}
