/* 
 * Navigation Bar
*/

.main-nav{
    margin: 0;
    background: var(--secondary-bg-color);
    overflow: hidden;
    min-width: 10%;
    width: 15%;
    height: 100%;
    display: block;
}

.title-nav{
    align-items: center;
    color: var(--main-font-color);
    margin: 0;
    width: fit-content;
    height: fit-content;
    cursor: inherit;
}

.main-nav li {
    color: fuchsia;
    border-bottom: 2px solid var(--third-bg-color);
    border-radius: 1pt;
}

.content-nav{
    margin: 0;
    display: block;
    overflow: hidden;
    width: 100%;
}

.main-nav ul {
    margin: 0;
    list-style-type: none;
    
    padding: 10px 10px 10px 15px;
    overflow: hidden;
}

.item{
    margin-left: 0;
    overflow: hidden;
    
}

.menu-btn{
    overflow: hidden;
    text-align: left;
    text-decoration: none;
    font-size: var(--main-font-size);
    text-shadow: 1px 1px 1px black;
    display: block;
    transition: ease-out 0.55s;
    border-radius: 10px;
    position: relative;
    
}

.menu-title {
    margin: 0 0 0 5px;
    font-size: 0.9em;
    font-variant: small-caps;
    color: var(--menu-title-font-color);
}

/* .separate {
    color: yellow;
    border-bottom: 5px solid var(white);
    border-radius: 5pt;
} */

.menu-title, .menu-btn{
    padding: 5px;
}

.menu-btn i{
    height: 25px;
    width: 25px;
    padding-right: 15px;
}


.menu-btn:hover {
    color: white;
    text-shadow: 0px 0px 3px rgb(116, 116, 116);
    
    background-color: rgb(116, 116, 116);
    box-shadow: inset 0.5px 0.5px 100px #2f3640;
    padding-left: 15px;
}

.menu-btn:active {
    background-color: rgb(116, 116, 116);
}