/* 
 * Recipies - Table title
*/
.title-table{
    margin: 0;
    padding: 2px 15px 2px 15px;
    display: flex;
    flex-direction: row;
    border-bottom: 5px solid var(--secondary-bg-color);
    border-radius: 5pt;
}

.title-table h1{
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    padding: 15px;
}

.title-table button{
    height: auto;
    width: fit-content;
    margin-left: auto;
    margin-top: 0;
    margin-bottom: 0;
    align-self: center;
    outline: none;
    background: transparent;

    padding: 15px;
    outline: none;

    text-align: center;
    color: inherit;
    font-family: inherit;
    font-size: inherit;

    border: 2px solid var(--secondary-bg-color);
    border-radius: 20px;

    display: inline-block;

    transition: 0.75s;
}

.title-table button:hover{
    background: #4cd137;
}

.title-table i{
    color: #4cd137;
    margin:0;
    padding-right: 10px;
    transition: 0.75s;
}

.title-table button:hover i{
    color: var(--secondary-bg-color);
}

/* 
 * Recipies - Table content
*/
.recipies-table{
    padding: 2px 15px 2px 15px;
}

.recipies-table table{
    border-collapse: collapse;
    margin: 15px 0;
    font-size: 0.9em;
    min-width: 90%;
    width: 100%;
    border-radius: 10px 10px 0 0;
    overflow: hidden;
    text-align: center;
}

.recipies-table table thead tr{
    background-color: var(--secondary-bg-color);
    color: var(--main-font-color);
    font-weight: bold;
}

.recipies-table th,
.recipies-table td{
    padding: 12px 15px;
}

.recipies-table tbody tr{
    transition: 0.75s;
}
.recipies-table tbody tr:hover{
    background-color: #c5c5c5;
}

.recipies-table td i{
    color: green;
    padding: 10%;
    transition: 0.15s;
}

.recipies-table td i:hover{
    text-shadow: 0px 0px 15px white;
}

.recipies-table td .fa-pencil-alt{
    color: #e19526;
}

.recipies-table td .fa-trash-alt{
    color: #751500;
}