/* 
 * Recipies - Table title
*/
.title-table {
  margin: 0;
  padding: 2px 15px 2px 15px;
  display: flex;
  flex-direction: row;
  border-bottom: 5px solid var(--secondary-bg-color);
  border-radius: 5pt;
}

.title-table h1 {
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  padding: 15px;
}

.title-table button {
  height: auto;
  width: fit-content;
  margin-left: auto;
  margin-top: 0;
  margin-bottom: 0;
  align-self: center;
  outline: none;
  background: transparent;

  padding: 15px;
  outline: none;

  text-align: center;
  color: inherit;
  font-family: inherit;
  font-size: inherit;

  border: 2px solid var(--secondary-bg-color);
  border-radius: 20px;

  display: inline-block;

  transition: 0.75s;
}

.title-table button:hover {
  background: #4cd137;
}

.title-table i {
  color: #4cd137;
  margin: 0;
  padding-right: 10px;
  transition: 0.75s;
}

.title-table button:hover i {
  color: var(--secondary-bg-color);
}

/* 
 * Recipies - Table content
*/
.recipies-list {
  padding: 15px 15px 15px 15px;
}

.recipies-list ul {
  font-size: 0.9em;
  min-width: 90%;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
  text-align: center;
}

.recipies-list .accordionItem {
  color: var(--secondary-font-color);
  font-weight: bold;
  
}

.recipies-list p {
  padding: 12px 15px;
  border-radius: 20%;
}

.recipies-list .main-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #f9fcff;
  background-image: linear-gradient(147deg, #f9fcff 0%, #dee4ea 74%);
  height: 5em;
  border-radius: 15pt 15pt 2pt 2pt;
}

.recipies-list .main-row p{
    padding: 20px;
}

.recipies-list .main-row p:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.recipies-list .main-row p:last-child {
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}

.recipies-list .main-row:hover {
  background-image: none;
  background-color: #c5c5c5;
}

.col-title{
    flex: 3;
}
.col-category{
    flex: 2;
}
.col-time{
    flex: 2;
}
.col-link{
    flex: 2;
}
.col-actions{
    flex: 1;
}

#accordion .sub-row{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;

    text-align: left;
    margin-left: 10px;
    color: var(--secondary-font-color);
    background-color: #c5c5c5;
    background-image: linear-gradient(147deg, #c5c5c5 0%, #dee4ea 74%);
    font-size: 0.8em;
    overflow: hidden;
    max-height: 10px;
    border-radius: 1pt 1pt 5pt 5pt;
    padding: 3px 3px 3px 3px;
}

#accordion .sub-row .upper-row{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
}

#accordion .sub-row .margin-row{
  display: flex;
  justify-content: center;
}

.ingredient-list{

  list-style-type: circle;
}


#accordion .active .sub-row{
    max-height: fit-content;
}

.recipies-list .sub-row p{
    padding: 3px 3px 3px 3px;
}

.recipies-list p i {
  color: green;
  padding-left: 10%;
  transition: 0.15s;
}

.recipies-list i:hover {
  text-shadow: 0px 0px 15px black;
}

.recipies-list .fa-pencil-alt {
  color: #e19526;
}

.recipies-list .fa-trash-alt {
  color: #751500;
}
