/* 
 * Studies - Sidebar
*/

.sidebar{
    background: #2d3436;
    overflow: hidden;
    min-width: fit-content;
    width: 17%;
    height: 100%;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
}

.sidebar li{
    float: top;
    margin: auto;
}

.sidebar a {
    text-align: center;
    padding: 10px 10px 10px 10px;
    text-decoration: none;
    font-size: 25px;
    text-shadow: 1px 1px 1px black;
    display: flex;
    flex-direction: column;
}

.sidebar a:hover {
    color: white;
    font-size: 25px;
    text-shadow: 0.5px 0.5px 0.5px whitesmoke;
    transition: 0.40s;
}

/* 
 * Studies - Subjects
*/

.wrapper-table {
    box-sizing: border-box;
    margin: 7px;
    margin-bottom: 0px;
    padding: 0;
    background: #ecf0f1;
    color: #2d3436;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.title-table{
    margin: 0;
    padding: 2px 15px 2px 15px;
    display: flex;
    flex-direction: row;
    border-bottom: 5px solid #2f3640;
    border-radius: 5pt;
}

.title-table h1{
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    padding: 15px;
}

.title-table button{
    height: auto;
    width: fit-content;
    margin-left: auto;
    margin-top: 0;
    margin-bottom: 0;
    align-self: center;
    outline: none;
    background: transparent;

    padding: 15px;
    outline: none;

    text-align: center;
    color: inherit;
    font-family: inherit;
    font-size: inherit;

    border: 2px solid #2d3436;
    border-radius: 20px;

    display: inline-block;

    transition: 0.75s;
}

.title-table button:hover{
    background: #4cd137;
}

.title-table i{
    color: #4cd137;
    margin:0;
    padding-right: 10px;
    transition: 0.75s;
}

.title-table button:hover i{
    color: #2f3640;
}

.content-table{
    padding: 2px 15px 2px 15px;
}

.content-table table{
    border-collapse: collapse;
    margin: 15px 0;
    font-size: 0.9em;
    min-width: 90%;
    width: 100%;
    border-radius: 10px 10px 0 0;
    overflow: hidden;
    text-align: center;
}

.content-table table thead tr{
    background-color: #2f3640;
    color: whitesmoke;
    font-weight: bold;
    
}

.content-table th,
.content-table td{
    padding: 12px 15px;
}

.content-table tbody tr{
    transition: 0.75s;
}
.content-table tbody tr:hover{
    background-color: #c5c5c5;
}

.content-table td i{
    color: green;
    padding: 10%;
    transition: 0.15s;
}

.content-table td i:hover{
    text-shadow: 0px 0px 15px black;
}

.content-table td .fa-pencil-alt{
    color: #e19526;
}

.content-table td .fa-trash-alt{
    color: #751500;
}
